
img {
  width: 338px;
  height: 225px;
  margin: 0 0 15px;
}

body {
  font-size: 15px;
  background-color: #fafafa;
}

ul {
  list-style: none;
  padding: 0;
}

.label {
  font-weight: bold;
}

.border-box {
  padding: 0 10px 10px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  background-color: #fff;
}

.card {
  box-sizing: border-box;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.08), 0 0 2px 1px rgba(0,0,0,0.08);
	border: none;
	display: flex;
	flex-direction: column;
	max-width: 360px;
}

.title {
  font-size: 24px;
  margin: 18px 0;
  padding: 5px 0;
}

.italic {
  font-style: italic;
}
